[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/nerdcommenter.vim"]
	path = vim/bundle/nerdcommenter.vim
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree.vim"]
	path = vim/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/supertab.vim"]
	path = vim/bundle/supertab.vim
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vim-javascript.vim"]
	path = vim/bundle/vim-javascript.vim
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-javascript-syntax.vim"]
	path = vim/bundle/vim-javascript-syntax.vim
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/bundle/vim-surround.vim"]
	path = vim/bundle/vim-surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/yankring.vim"]
	path = vim/bundle/yankring.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
  ignore = dirty
